body
{
    font-size: 16px;
    background-image: url(images/moon.jpg);
    overflow-x: hidden;
}
*
{
    margin: 0;
    padding: 0;
}

.flex
{
    display: flex;
    flex-direction: row;
    gap: var(--gap , 1rem);
}
.grid
{
    display: grid;
    gap: var(--gap,1rem);
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: white;
}
.logo
{
    margin: 2rem;
}
/* header
{
    height: 100vh;
    width: 100%;
    background-image: url(images/moon.jpg);
    background-size: cover;
} */

nav
{
    align-items: center;
    justify-content: center;
}
.primary-navigation 
{
    @media(max-width: 35em)
{
    --gap: 3em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    align-items:start;
    justify-content: start;
    align-self: end;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform:translateX(100%);


}
    
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    list-style: none;
    /* margin-inline: 5%; */
    text-decoration: none;
    background: hsl(0, 0%, 0%, 0.57);
    padding: 2rem;

    @supports(backdrop-filter: blur(1rem))
    {
.primary-navigation
{
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);

}
    }
}
.primary-navigation[data-visible="true"]
{
    transform: translateX(0%);
}

.primary-navigation a > span [aria-hidden= "true"]
{
    font-weight: 700;
    margin-inline-end: .75em;
}

.mobile-nav-toggle
{
    display: none;
    background-color: transparent;
}
   
    @media(max-width: 35em) {
        .mobile-nav-toggle{
            display: block;
            position: absolute;
            z-index: 9999;
            width: 2rem;
            background-image: url(images/hamburger.svg) ; 
            background-size: cover;
            background-repeat: no-repeat; 
            border: 0;
           aspect-ratio: 1;
            top: 2rem;
            right: 2rem;
        }
    }
   

